@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-image{
    background-image: url("../public/ceu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.paisagem{
    background-image: url("https://i.pinimg.com/originals/73/eb/cd/73ebcd2ea663f8d4aad5f2a9a80637ec.jpg");
}